<h1>Create a new Tweet</h1>
<form action="/tweet" method="POST">
  <label>Tweet</label>
  <br></br>

<p>Tweet Content: <input type="text" id="tweet_content" name="tweet[content]"></p>
  <br></br>

    <input type="submit" value="submit" name="submit">
  </form>
