<h1>Edit a Tweet</h1>
<form action="/tweets/<%= @tweet.id %>" method="POST"><input id="hidden" type="hidden" name="_method" value="patch">
  <label>Tweet</label>
  <br></br>

<p>Tweet Content: <input type="text" id="content" name="tweet[content]" value="<%= @tweet.content %>"></p>
  <br></br>

    <input type="submit" value="submit" name="submit">
  </form>
