<p> Welcome, tweeting ! </p>
<p><li>Name : <%=@user.username%></a> </li>
<% @user.tweets.each do |tweet| %>
               <%= tweet.content %>
               <% end %></li>
<form action="/login"> <input type="submit" name="submit" value="Log Out"> Log Out</a></form>
