<p> Welcome, </p>
<p><li>Name : <%=@user.username%></a> </li>
<% @user.tweets.each do |tweet| %>
               <%= tweet.content %>
               <% end %></li>


<p><a href="/logout">Log Out</a></p>
